/*서브페이지*/
.contents { margin: 30px auto; } 
.common { margin: 10px 0; }

/*서브페이지 서브사이드메뉴*/
.common-sidebar { padding: 0px; background: #e7e7e7; } 
.common-usermenu { margin-top: 0px; } 
.common-usermenu .nav>li>a { padding: 20px; } 
.common-usermenu .nav>li>a:focus, .common-usermenu .nav>li>a:hover { color: #fff; background-color: #050505; padding: 20px; } 
.common-usermenu .nav .navbar { margin: 0px; } 
.common-usermenu ul li { width: 100%; /* border-bottom: 1px solid #f0f4f7;*/ } 
.common-usermenu ul li:last-child { border-bottom: none; } 
.common-usermenu ul li a { color: #1a222d; font-size: 14px; font-weight: 400; } 
.common-usermenu ul li a i { margin-right: 8px; font-size: 14px; } 
.common-usermenu ul li.active { border-bottom: none; } 
.common-usermenu ul li.active a { color: #fff; background-color: #050505; padding: 20px; border-left: 8px solid #a77b00; margin-left: -8px; } /* Profile Content */ 
.common-content { background: #fff; min-height: 470px; } 

/*서브페이지 서브 탑 이미지, 제목 */
/*.subtop { background: url(../images/sub_topbg.jpg); background-position: -63px 0px; height: 200px; background-repeat: no-repeat; cursor: pointer;} */
.subtop { background: url(../images/ag_main.jpg); background-position: -63px -25px; height: 200px; background-repeat: no-repeat; }
.sub_title { text-align: center; width: 100%; padding: 90px 0px; font-weight: bold; font-size: 25px; margin: 0 auto; color: #fff; } 
/*
.sub_title:after { display: block; content: ''; height: 5px; margin: 8px auto 0px; background: #fff; width: 99px; } 
*/
/*서브페이지 콘텐트 작성하는 부분*/
.sub_contents { margin: 20px 0px 0px; padding: 0px; background: #ffffff; height: 100%; } 

/*@media all and (min-width: 320px) and (max-width:770px) { 
@media (max-width: 600px) { */		
/*미디어쿼리 시작*/
@media all and (min-width: 320px) and (max-width:770px) { 
	.contents { margin: 10px auto; } 
	.frame{padding: 0px 10px;}
	/*서브페이지 서브사이드메뉴*/
	.common-usermenu ul li.active a, .common-usermenu .nav>li>a:focus, .common-usermenu .nav>li>a:hover, .common-usermenu .nav>li>a { padding: 10px; } 
}


/*
 * 추가 된 style sheet
 */
.sub_table {
	border: 1px solid #660066;
	width:100%;
}

.sub_main_title { text-align: left; font-weight: bold; font-size: 25px; margin: 0 auto; color: #660066; } 
.sub_main_title:after { display: block; content: ''; height: 3px; margin: 8px 0px 0px 0px; background: #660066; width: 250px; }

.img_outline {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
   	height: auto;
}
.sub_td {
	text-align:left;
	padding: 20px 20px 20px 20px;
}
.sub_td_message {
	text-align:left;
	font-size: 16px;
	padding: 20px 50px 20px 50px;
	line-height:150%;
	font-weight: bold;
}
.sub_td_message_cnt {
	text-align:center;
	font-size: 16px;
	padding: 20px 50px 20px 50px;
	line-height:200%;
	font-weight: bold;
}
.sub_td_message_padding {
	text-align:left;
	font-size: 16px;
	padding: 0px 50px 0px 50px;
	line-height:150%;
	font-weight: bold;
}
.sub_td_button {
	text-align:right;
	font-size: 16px;
	padding: 0px 20px 0px 0px;
}
.under_line { display: block; content: ''; height: 2px; margin: 10px 0px 10px 50px; background: #ddd; width: 87%; }

.circle {
	border-radius: 50%;
	width:100px;
	height:100px;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
}

.download {
	background: #87cefa;
	border: 2px solid #85a5ff;
	border-radius: 5%;
	width:180px;
	height:38px;
	color: grey;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
}

.sub_td_date {
	text-align:left;
	vertical-align: text-top;
	color:purple;
	font-weight: bold;
	width:80px;
	padding: 0px 0px 0px 7px;
}
.sub_td_desc {
	text-align:left;
	vertical-align: text-top;
	font-weight: bold;
}

/*
 * 게시판 관련 Style Sheet
 */
#board_list {
    border-collapse: collapse;
    width: 100%;
}
#board_list td, #board_list th {
    border: 0px solid #ddd;
    padding: 8px;
}
#board_list tr:nth-child(even){background-color: #f2f2f2;}
#board_list tr:hover {background-color: #ddd;}
#board_list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: purple;
    color: white;
}
#board_list_r {
    border-collapse: collapse;
    width: 100%;
}
#board_list_r td, #board_list_r th {
    border: 1px solid #ddd;
    padding: 8px;
}
#board_list_r th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: purple;
    color: white;
}
.board_list_a a:hover {
	text-decoration: underline;
}

.board-button {
	background-color: #666666;
	border-radius: 5px;
	border: 1px solid #555555;
	color: white;
	width: 100px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
}
.board-text {
	padding-left: 5px;
	height: 25px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
}
.board-textarea {
	padding-left: 5px;
	width: 100%;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
}

/*
 * 사진 Display
 */
.tablink {
	position: relative; 
	width: 6%; 
}

